body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 0 5px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button-verify {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px; /* Adicionado margem de 15 pixels no topo */
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .alert {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .alert.success {
    color: #4caf50;
  }
  
  .alert.error {
    color: #f44336;
  }
  

  .scores {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .scores p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .scores .score-label {
    font-weight: bold;
  }
  
  .scores .score-value {
    color: #007bff;
    font-weight: bold;
  }
  