.forca-container {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.hangman-container {
  margin-bottom: 20px;    
}

.hangman {
  font-size: 24px;
  white-space: pre;    
}

.game-over-message,
.winner-message {
  margin-bottom: 20px;    
}

.word-container {
  margin-bottom: 20px;
}

.hidden-word {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 10px;
  margin-right: 5px;
  letter-spacing: 5px; /* Adiciona espaçamento entre as letras */
}

.correct-letter {
  color: green;
}

.wrong-letter {
  color: red;
}

.statistics {
  margin-bottom: 20px;
}

.guess-form {
  margin-right: 50px;
  margin-bottom: 10px;
}

.guess-form button{
  margin-right: 5px;  
  margin-top: 5px;  
}

.reset-button {
  margin-right: 5px;    
  margin-bottom: 20px;
}

.guesses-container {  
  margin-bottom: 20px;
}

.guess-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .forca-container {
    padding: 10px;    
  }

  .hidden-word {
    font-size: 18px;    
  }
}
